<section class="bg-zinc-950 flex flex-col items-center justify-center py-10" id="skills">
    <div class="text-center text-white text-4xl font-bold py-14">
      <h1>Skills</h1>
    </div>
    <div class="flex justify-around flex-wrap w-3/4">
      <div class="flex flex-col w-28">
        <h2 class=" text-white text-2xl font-semibold pb-4">Frontend</h2>
        <img src="https://skillicons.dev/icons?i=html,css,sass,bootstrap,tailwind,js,ts,angular,&perline=1" class="w-16"/>
      </div>
      <div class="flex flex-col w-28">
        <h2 class=" text-white text-2xl font-semibold pb-4">Backend</h2>
        <img src="https://skillicons.dev/icons?i=java,spring,mysql,maven,postgres&perline=1" class="w-16"/>
      </div>
      <div class="flex flex-col w-28">
        <h2 class=" text-white text-2xl font-semibold pb-4">Tools</h2>
        <img src="https://skillicons.dev/icons?i=git,github,gitlab,vscode,idea,mint,postman,docker&perline=1" class="w-16"/>
      </div>
    </div>
  </section>
