<section class="bg-zinc-950 flex flex-col items-center py-10" id="about">
    <div
      class=" text-white py-14 flex flex-col items-center"
    >
      <h1 class="text-left text-4xl font-extrabold mb-4">About</h1>
      <p class="text-3xl text-center">Hi!👋</p>

      <div class="w-1/2 text-2xl m-5 text-left text-wrap">
       
        <p class="inline">My name es Joan Oviedo, i am <p class="text-indigo-700 font-bold inline">Backend developer</p> specialized in using Java and Spring Framework. One year creating efficient and scalable solutions.
      </div>    
    </div>
    
  </section>