<section  class="bg-zinc-950" id="home">
    <div
      class="flex flex-wrap-reverse justify-center py-60 bg-[url('/assets/banner-bg.webp')] text-white bg-cover items-center gap-12"
    id="bg-image">
      <div class="flex flex-col z-0 sm:items-stretch items-center">
        <h1 class="text-5xl font-extrabold text-center">Joan Oviedo</h1>
        <p class="text-2xl font-semibold text-indigo-700">
          Backend Developer
        </p>
        <button
          class="mt-12 bg-gradient-to-r from-indigo-900 to-blue-700 w-36 h-12 rounded-2xl transition-transform hover:scale-110 text-lg font-medium"
        >
          Download CV 
        </button>
      </div>
      <img ngSrc="assets/perfil.webp" alt="fotito" class="rounded-full" width="256" height="256" priority/>
    </div>
  </section>