<div class="bg-zinc-900 p-6 text-left absolute rounded-2xl left-0 top-full mt-8 ml-8 w-1/4 max-w-xs min-w-44 self-start -translate-x-[120%] " id="messageSend">
    <p class="inline-flex gap-4">Tu mensaje ha sido enviando correctamente
      <span class="relative flex h-3 w-3">
        <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-blue-800 opacity-75"></span>
        <span class="relative inline-flex rounded-full h-3 w-3 bg-blue-900"></span>
      </span>
    </p>
</div>